<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/principal.css">

    <title>API</title>
</head>

<body>
<h1 class="api">API</h1>
<h1>EVIDENCIA</h1>
    <br>

<div class="principal">
    
    <div class="card">
        <h3>Principal</h3>
        <p><a href="/">Inicio</a></p>
    </div>
</div>
<h2>Colecciones</h2>
<br>
<div class="cards">
    
    <div class="card">
        <h3>Genero</h3>
        <p><a href="/genero" class="card-link">Consultar</a></p>
        <p><a href="/genero" class="card-link">Registrar</a></p>
        <p><a href="/genero/1" class="card-link">Consutal por id</a></p>
        <p><a href="/genero/1" class="card-link">Editar</a></p>      
        <p><a href="/genero/1" class="card-link">Eliminar</a></p>
    </div>
    <br>
    <br>
    <div class="card">
        <h3>Canción</h3>
        <p><a href="/cancion" class="card-link">Consultar</a></p>
        <p><a href="/cancion" class="card-link">Registrar</a></p>
        <p><a href="/cancion/1" class="card-link">Consutal por id</a></p>
        <p><a href="/cancion/1" class="card-link">Editar</a></p>      
        <p><a href="/cancion/1" class="card-link">Eliminar</a></p>
    </div>
    <br>
    <br>
    <div class="card">
        <h3>Album</h3>
        <p><a href="/album" class="card-link">Consultar</a></p>
        <p><a href="/album" class="card-link">Registrar</a></p>
        <p><a href="/album/1" class="card-link">Consutal por id</a></p>
        <p><a href="/album/1" class="card-link">Editar</a></p>      
        <p><a href="/album/1" class="card-link">Eliminar</a></p>
    </div>
</div>

</body>

</html>